* {
    margin: 0;
    font-family: sans-serif;
}
body {
    margin: 0;
    color: black;
    background-color: white;
    font-family: montser;
}

header { 
    display: flex;
    width: 100vw;
    top: 0;
    color: var(--primary-color);
    height: auto;
    background-color: var(--secondary-color);
    margin-bottom: 10px;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
}


.resume {
    margin-top: 50px;
    padding-left: 25vw;
    padding-right: 25vw;
    line-height: 1.4;
}

article {
    margin-top: 50px;
  
}

article h2 {
    margin-bottom: 10px;
}

article ul {
    margin-top: 15px;
}

.skills {
    margin-bottom: 50px;
}

.experience {
    margin-bottom: 50px ;
}

.experience ul {
    margin-top: 10px;
}

.education { 
    margin-bottom: 50px;
}

.education h2 {
    padding-bottom: 10px;
}

.links {
    text-align: center;
}