body {
    margin: 0;
    font-family: initial;
}

header {
    width: 100vw;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
    height: 45px;
}

header p {
    padding-top: 10px;
    padding-bottom: 10px;
}

h2 {
    font-weight: bold;
}

article p {
    margin-top: -10px;
}

main {
    padding-left: 25vw;
    padding-right: 25vw;  
    line-height: 1.4;
}

.links {
    text-align: center;
}

section {
    margin-bottom: 50px;
}

article {
    margin-top: 50px;
    margin-bottom: 50px;
}

img {
    width: 150px;
    height: 150px;
}

.left-border {
    border-left: 4px solid #d8720d;
    padding-left: 8px;
}

.links {
    padding-top: 8px;
    padding-bottom: 8px;
}